<html>
<head>
    <title>Charts</title>
    <%- style %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
</head>
<body>
<div id="monid">WOW IT WORKS</div>
<% if (chartsVisibilities.pie) { %>
<p><%- pie %></p>
<% } %>
<% if (chartsVisibilities.bar) { %>
<p><%- bar %></p>
<% } %>
<% if (chartsVisibilities.bubble) { %>
<p><%- bubble %></p>
<% } %>
</body>
</html>